@import "style.css";

.blue {
  color: #19d3da;
}

.white {
  color: #eeeeee;
}


.board{
  margin: auto;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  background-color: #686d76;
}
@media(min-width: 1280px){
  .board{
    height: 375px;
    width: 375px
  }
  .score{
    font-size: 37.5px;
  }

}
@media(min-width: 1920px){
  .board{
    height: 562px;
    width: 562px
  }

  .score{
    font-size: 56px;
  }
}
@media(min-width: 2560px){
  .board{
    height: 750px;
    width: 750px
  }
  .score{
    font-size: 75px;
  }
}

.grid-item-WHITE, .grid-item-BLUE, .grid-item-valid {
  background-color: #eeeeee;
  
  display: inline-block;
}

.grid-item-BLUE {
  background-color: #19d3da;
}

.grid-item-valid {
  background-color: #686d76;
  opacity: 25%;
}


.grid-item-valid:hover{
  opacity: 50%;
  transition: 0.2s;
}

.grid-item-valid:active{
  opacity: 75%;
  transition: 0.1s;
}
@keyframes BlueToWhite {
  0%   {background-color:#19d3da; width: 90%}
  50%  {background-color:#19d3da; width: 0%}
  51%  {background-color:#eeeeee;}
  100% { background-color:#eeeeee; width: 90%}
}

@keyframes WhiteToBlue {
  0%   {background-color:#eeeeee; width: 90%}
  50%  {background-color:#eeeeee; width: 0%}
  51%  {background-color:#19d3da;}
  100% { background-color:#19d3da; width: 90%}
}

.timer::after, .timer::before{
  content: " | ";
}


