body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #eeeeee;
    background-color: #373a40;
  }
  
  a {
    color: #00B7FF;
  }

  .grid-container {
    display: grid;
    grid-template-rows:  10px 100px;
    grid-template-columns: repeat(3, 400px);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    
    }
    button {
        font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
        border: 2px solid lightgray;
        background-color: #686d76;
        width: 350px;
        height: 140px;
    }
    .button-container {
    display: grid;
    grid-template-rows:  100px 100px;
    grid-template-columns: 300px 300px;
    grid-row-gap: 10px;
    grid-column-gap: 250px;
    
    }

    .center-box {
        background-color: #373a40;
      }

    header  {
        font-size: 100px;
        position: relative;
        left: 85px;
        
    }

    .number {
        font-size: 40px;
        color: #19d3da;
        text-align: center;
        position: relative;
        right: 50px;
    }