<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title class="title">Reversi</title>
    <link rel="stylesheet" href="../public/stylesheets/howToPlay.css" />
</head>
<body>
    <header>
        <h1>How to play</h1>
    </header>
    
    <main>
           <h2>rules:</h2> <hr><br>
           
            <li>you play on a 8x8 board</li>
            <li>You can play a disc when you flank one or more opponents discs between your new disc and any other of your own discs, in the same horizontal, vertical or diagonal line. The opponents discs that are flanked will change colour.</li>
            <li>you can flank multiple discs of your opponent each turn</li>
            <li>You play until both players have no moves left</li>
            
            <h2>begin:</h2> <hr><br>
            <p>you start in the middle of the board where the middle square will be occupied by blue and black in a blue black at top and black blue at the bottom of the square</p>
            <h2>tips:</h2> <hr><br>
            <p>your decision in the game should work on long term. try to anticipate on your opponents next move</p>
           
            <br>
           <br>

           
    </main>
    <footer>
        <p>©Copyright 2021 by Joris And Rembrandt. All rights reversed.</p>
    </footer>
</body>
</html>