<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title class="title">Reversi</title>
    <link rel="stylesheet" href="../public/stylesheets/splash.css" />
    <link rel="icon" type="image/ico" href="../public/data/favicon.ico">
</head>
<body>
    <header>
        <h1>Reversi</h1>
    </header>
    <div class="button-container">
        <div><form action="app.js" method="get">
            <button type="submit">Play</button></div>
    <div></form>    
        <button type="How to play">How to play</button></div>
    </div>
    <main>
           <div class="grid-container">

            <div class="center-box">Stats: </div>
            <div></div>
            <div></div>
            <div>Current Games:<strong> <div class="number">0</div></strong></div>
            <div>Completed Games: <strong><div class="number">0</div></strong></div> 
            <div>Points: <strong><div class ="number">0</div></strong></div>
                
           </div>
    </main>
    <footer>
        <p>©Copyright 2021 by Joris And Rembrandt. All rights reversed.</p>
    </footer>
</body>
</html>